* {
    font-family: "Noto Sans";
    font-size: 14px;
}

#window {
	background-color: rgba(0,0,0,0.2);
	color: --wofi-color2;
	border: 2px solid rgba(0,0,0,0);
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: rgba(0,0,0,0);
	border: 0px solid rgba(0,0,0,0);
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
	margin-bottom: 20px;
}

#inner-box {
}

#img {
	padding-right: 8px;
}

#text {
	color: rgba(255,255,255,255);
}

#text:selected {
	color: rgba(255,255,255,255);
}

#entry {
	padding: 6px;
}

#entry:selected {
	background-color: rgba(255,255,255,0.1);
	color: rgba(255,255,255);
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 6px;
}
